<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435409328353-acpvgufvjj8cui0vc1v166pb8ti1hcl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435409328353-acpvgufvjj8cui0vc1v166pb8ti1hcl1</string>
	<key>API_KEY</key>
	<string>AIzaSyDfdsxsZIJEpueUato0R0MK9w3mNju1OPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>435409328353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bogdandediu</string>
	<key>PROJECT_ID</key>
	<string>ioschatflash</string>
	<key>STORAGE_BUCKET</key>
	<string>ioschatflash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435409328353:ios:ce19b41c05457fef05bfa0</string>
</dict>
</plist>